.input-container {
	background-color: @headerbar_bg_color;
	color: @headerbar_fg_color;
}

.messageview, .messageview:active, .messageview:hover {
	background-color: transparent;
}

.messagebox {
	font-size: 1.2em;
	padding: 8px;
	border-radius: 10px;
}

.messageview.sent .messagebox {
	background-color: @accent_bg_color;
	color: @accent_fg_color;
}

.messageview.received .messagebox {
	background-color: @headerbar_bg_color;
	color: @headerbar_fg_color;
}

.suggestion-button {
	background-color: @headerbar_bg_color;
	color: @headerbar_fg_color;
	font-size: 1.1em;
	padding: 6px;
}
