.input-container {
	background-color: @headerbar_bg_color;
	color: @headerbar_fg_color;
}

.messageview, .messageview:active, .messageview:hover {
	background-color: transparent;
}

.messagebox {
	padding: 8px;
	border-radius: 10px;
}

.messageview.sent .messagebox {
	background-color: @accent_bg_color;
	color: @accent_fg_color;
}
